accelerate
build
certifi
charset-normalizer
click
colorama
docopt
filelock
Flask
Flask-Cors
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pip-tools
pipreqs
psutil
pyproject_hooks
PyYAML
regex
requests
six
sympy
tokenizers
tomli
torch
tqdm
-e git+https://github.com/datquocnguyen/transformers.git@5be7334e3c88b3a9a2784fb19aa2e3fc2c9f327c#egg=transformers
typing_extensions
urllib3
Werkzeug
yarg
zipp
Gunicorn
